<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1>Create your plush</h1>


    <p>Choose an animal</p>
    <form method="post" enctype="multipart/form-data">
  <input list="animal" name="pl">
  <datalist id="animal">
    <option value="Cat">
    <option value="Fox">
    <option value="Panda">
  </datalist>

  <p>Choose accessoires</p>
  <input list="accessories" name="pl">
    <datalist id="accessories">
    <option value="Bow">
    <option value="Necklace">
    <option value="Hat">
  </datalist>


  <p>Choose a size</p>
    <input list="size" name="pl">
    <datalist id="size">
    <option value="Small">
    <option value="Middle">
    <option value="Large">
  </datalist>
  <input type="submit" value="Submit">
</form>


</center>
</body>
</html>